.button-signup {
  background-color: #242269;

  border: none;
  align-items: center;
}
.containerBO {
  margin-top: 5vh;
}
.button-signup:hover,
.button-signup:focus,
.button-signup:active {
  background-color: var(--background-yellow) !important;
}

.bandeauTitreBO {
  width: 100%;
  height: 20vh;
  background-color: #AA7BC3;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 1.3rem;
}
h2 {
  color: white;
  font-size: 90px;
  /* padding: 100px 0 0 10vw; */
  position: relative;
}
@media (min-width: 720px) {
  /* .imageR {
  background-image: url(../../public/assets/Vector4.svg);
  width: 100%;
  height: 25vh;
} */
  h1 {
    color: white;
    font-size: 90px;
    /* padding: 100px 0 0 10vw; */
    position: relative;
  }

  .bandeauTitreBO {
    width: 100%;
    height: 20vh;
    background-color: #AA7BC3;
    color: white;
  }
  .button9 {
    display: flex;
    justify-content: center;
  }
  .custom-btn {
    z-index: 1000 !important;
    width: 130px !important;
    height: 40px !important;
    color: #fff;
    border-radius: 5px !important;
    padding: 10px 25px !important;

    font-weight: 500 !important;
    background: transparent !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    position: relative !important;
    display: inline-block !important;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1) !important;
    outline: none !important;
  }

  .btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .btn-9:after {
    position: absolute;
    content: ' ';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    color: #fff;
  }
  .btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  }
}
