.connexion-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-signin {
  background-color: #242269 !important;
  border: none;
}

.button-signin:hover,
.button-signin:focus .button-signin:active {
  background-color: #fcd146 !important;
}
