.bandeauFC {
  background: #242269 !important;
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 15px; */
  /* margin-bottom: 20px; */
}

.titleFC {
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  padding-left: 60px;
}

.containerFC {
  padding: 2rem;
}

.row {
  padding: 15px;
}

.button-returnFC {
  background-color: #fcd146;
  color: black;
  border: none;
  margin-left: 1250px;
}

.button-returnFC:hover,
.button-returnFcanvas,
.button-returnFC:active {
  background-color: #fcd146 !important;
}

.boxiconFC {
  width: 20%;
  font-size: 3em;
  margin-left: 1350px;
}

@media (max-width: 600px) {
  .bandeauFC {
    
    background: #242269;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleFC {
    text-align: center;
    font-size: 35px;
  }

  .boxiconFC {
    width: 20%;
    font-size: 3em;
    margin-left: 250px;
  }
  .button-returnFC {
    background-color: #fcd146 !important;
    color: black;
    border: none;
    margin-left: 180px;
  }

  .button-returnFC:hover,
  .button-returnFcanvas,
  .button-returnFC:active {
    background-color: #fcd146 !important;
  }
}
