.landing-page {
  height: 100%;
}
h6 {
  margin-top: 15px;
}
.titre {
  position: relative;
  z-index: 500;
  margin-top: 60px;
}
.xy {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-left: 50px;
  position: relative;
}
.hide-on-mobile {
  /* display: none; */
}
/* .parallax {
  background-size: cover;
  background-position: center;
  background-image: none;
  height: 100vh;
} */

.opponent {
  color: white;
  font-size: 20px;
  padding-left: 5.1rem;
  margin: 7px 0;
  margin-bottom: 15px;
}
.section-slogan {
  background: #9a60af !important;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 15px; */
  margin-bottom: 30px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
}

.photo-bandeau {
  display: flex;
  align-items: baseline;
}

.titleLP {
  text-align: center;
  margin-top: 0px;
}
.textLP {
  font-size: small;
  text-align: center;
  margin-bottom: 0;
}
.titrepratiques {
  font-size: x-large;
  font-weight: bolder;
  color: white;
  padding-left: 15px;
  padding-top: 5vh;
  text-align: center;
}
.lireAM {
  font-size: small;
}
.prezzz2 {
  margin-top: 140px;
  margin-bottom: 100px;
}
.separation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
}

.separation img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* float: right; */
  margin-left: 20px;
  margin-right: 80px;
}
.contactLP {
  height: 80vh;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #9a60af;
  /* position: relative;
    right: 15vh;
    bottom: 15vh;
    margin-left: 40vh; */
  z-index: 1030;
  border-radius: 15px;
}
.contactLP:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.24);
  transition: 0.4s;
}
.contactTitre {
  padding: 10px !important;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0;
}
.prez {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  margin-bottom: 40vh;
  z-index: 300;
}
.blabla {
  margin-top: 15px;
  text-align: justify;
}
.aigle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* margin-right: 2rem; */
  margin-bottom: 15px;
}
/* .react-parallax-bgimage {
  height: 1000px;
  width: fit-content;
  overflow: hidden;
} */
/* .hide-on-mobile {
  height: 1000px;
  width: cover;
  overflow: hidden;
} */
.para {
  margin-top: 100px;
}
.contactLP img {
  position: absolute;
  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 300px;
  height: 300px;
}
@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media (min-width: 768px) {
  .CardImg {
    border-color: #9a60af;
  }
  .ecole {
    font-size: 40px;
  }
  .aigle {
    position: absolute; /* Ajout de la position absolue pour que l'image soit positionnée par rapport à la section */
    top: 6rem; /* Ajustement de la position verticale */
    right: 8rem; /* Ajustement de la position horizontale */
    z-index: 1000; /* Définition de la propriété z-index pour que l'image soit superposée sur l'arrière-plan */
    width: 30rem;
    height: 30rem;
  }
  .Bandeau1 {
    z-index: 1400;
    position: absolute;
    top: 14rem;
    left: 1rem;
    z-index: 1000;
  }
  .prez {
    display: flex;
    flex-direction: row;

    height: 40vh;
    margin-top: 250px;
    margin-bottom: 260px;
    z-index: 300;
  }
  .prezzz2 {
    margin-top: 0px;
    background-color: #ede9f4;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .prezzz3 {
    z-index: 3;
    /* margin-top: 60px; */
    margin-bottom: 300px;
    background-color: #ede9f4;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* width: 100%; */
  }
  .Fond-head {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1000;
  }
  .contactLP {
    height: 60vh;
    width: 65vh;
    background-color: #9a60af;
    /* background-image: url('/public/assets/dragon.png'); */
    background-size: cover;
    background-position: center;
    position: relative;
    /* animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    right: 8vh;
    top: 3vh;
    /* margin-left: 37vh; */
    z-index: 1030;
  }
  .contactLP img {
    position: absolute;
    animation-name: rotation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 500px;
    height: 500px;
  }
  @keyframes rotation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  .prezTitre {
    flex-grow: 1;
    align-items: center;
  }
  .contactSousTitre {
    align-items: center;
  }
  .minititre {
    flex-grow: 1;
    padding: 30px;
    padding-left: 70px;
    padding-bottom: 0px;
    width: 500px;
  }
  .Titre {
    position: relative;
    z-index: 1000;
    /* margin-top: 60px; */
    /* display: flex;
    align-items: center;
    align-content: center; */
    top: 1rem;
  }
  .montagne {
    z-index: 1;
    flex-grow: 4;
    /* object-fit: cover; */
    background-position: center;
    background-size: cover;
    /* transition: transform 1.3s ease-in-out;
    transform: scale(1);
    will-change: transform; */
    overflow: hidden;
    width: 100%;
    height: 40vh;
  }
  /* .montagne:hover {
    transform: scale(1.3);
  } */
  h1 {
    color: white;
    font-size: 90px;
    padding: 20px 0 0 50px;
    position: relative;
  }
  .blabla {
    color: rgb(0, 0, 0);
    font-size: 14px;
    /* padding-left: 10vw; */
    padding-top: 20px;
    padding-right: 70px;
    max-width: 600px;
    text-align: justify;
  }

  .section-slogan {
    background: #9a60af !important;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 15px; */
    /* margin-bottom: 20px; */
  }
  .photo-bandeau {
    display: flex;
    align-items: baseline;
  }
  .section-page {
    background: #9a60af !important;
    padding-bottom: 30px;
  }
  .text-slogan {
    font-size: 2.3em;
    width: 60%;
  }

  .imgAM {
    width: 370px;
    height: 320px;
  }
  .titrepratiques {
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding-left: 15px;
    margin-top: 140px;
  }
  .separation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #9a60af;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
  }

  .separation img {
    width: 80%;
    height: auto;
    object-fit: cover;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
  }
}
