.groupInput {
  background: #af88f4;
  padding: 3rem;
  padding-top: 3rem;
  width: 100%;
}
.bandeauTitreR {
  width: 100%;
  height: 35vh;
  background-color: #242269;
  color: white;
}
.imageR {
  background-image: url(../../public/assets/Vector4.svg);
  width: 100%;
  height: 25vh;
}
.rangeButtonNumber {
  display: grid;
  justify-content: center;
  color: white;
  font-size: 1.2em;
}
.labelRange {
  display: grid;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

.container-buttonSUPP {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.deleteButton {
  background: #242269;
  color: rgb(255, 255, 255);
  border: none;
}
.deleteButton:hover {
  /* opacity: 0.7; */
  background-color: #af88f4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: rgb(255, 255, 255);
}
@media (min-width: 720px) {
  /* .imageR {
  background-image: url(../../public/assets/Vector4.svg);
  width: 100%;
  height: 25vh;
} */
  .bandeauTitreR {
    width: 100%;
    height: 35vh;
    background-color: #242269;
    color: white;
  }
  .rechercheContenair {
    max-width: 100% !important;
  }
}
