.bandeau-user {
  background: #9a60af !important;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 15px; */
  /* margin-bottom: 20px; */
}
/* 
.image-users {
  border-radius: 100px;
} */

.bonjour-user {
  margin-left: 0px;
  font-size: 1.8rem;
  color: white;
  text-align: center;
}
.p {
  font-size: 1rem;
}
.evenementavenir {
  margin: 20px;
  font-weight: bold;
}

.EvenementsPassés {
  margin: 20px;
  font-weight: bold;
}
.ProchainEvenementOrganisé {
  margin: 20px;
  font-weight: bold;
}
.button-UI-edit-profil {
  /* position: absolute;
  width: 13px; */

  font-size: 1em;
  bottom: 1.2px;
  left: 2.8rem;
}
.imageR {
  overflow: hidden;
}
/* .button-UI-edit-profil:hover,
.button-UI-edit-profil:active,
.button-UI-edit-profil:focus {
  background-color: var(--background-yellow) !important;
} */
.imageconteneur {
  overflow: hidden;
}

@media (min-width: 768px) {
  .edit-profil-text {
    padding: 15px;
    margin: 15px;
    color: black;
  }
  .bonjour-user {
    margin-left: 0px;
    font-size: 1.8rem;
    color: white;
    text-align: center;
  }

  .bandeau-user {
    background: #9a60af !important;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    /* padding-left: 15px; */
    /* margin-bottom: 20px; */
  }
  .ProcheDeChezVous {
    font-size: 1.3em;
  }
  .ProchainEvenement {
    font-size: 1.3em;
  }
  .EvenementsPassés {
    font-size: 1.3em;
  }
  .ProchainEvenementOrganisé {
    font-size: 1.3em;
  }
}
