.bandeau-user {
  background: #242269 !important;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 15px; */
  /* margin-bottom: 20px; */
}
/* 
.image-users {
  border-radius: 100px;
} */

.bonjour-user {
  margin-left: 0px;
  font-size: 2.3rem;
  color: white;
}
.p {
  font-size: 1rem;
}
.evenementavenir {
  margin: 20px;
  font-weight: bold;
}

.EvenementsPassés {
  margin: 20px;
  font-weight: bold;
}
.ProchainEvenementOrganisé {
  margin: 20px;
  font-weight: bold;
}
.button-UI-edit-profil {
  position: absolute;
  /* width: 13px; */
  border: none;
  /* background-color: var(--background-primary); */
  font-size: 1.5em;
  bottom: 1.2px;
  left: 4.8rem;
  top: 1rem;
}
/* .button-UI-edit-profil:hover,
.button-UI-edit-profil:active,
.button-UI-edit-profil:focus {
  background-color: var(--background-yellow) !important;
} */

@media (min-width: 768px) {
  .bandeau-user {
    background: #242269 !important;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 15px; */
    /* margin-bottom: 20px; */
  }
  .ProcheDeChezVous {
    font-size: 1.3em;
  }
  .ProchainEvenement {
    font-size: 1.3em;
  }
  .EvenementsPassés {
    font-size: 1.3em;
  }
  .ProchainEvenementOrganisé {
    font-size: 1.3em;
  }
  .button-UI-edit-profil {
    position: absolute;
    width: 25px;
    border: none;
    /* background-color: var(--background-primary); */
    font-size: 2.3em;
    top: 13.3rem;
    left: 10.3rem;
    margin: 5px;
  }
}
