.custom-btn {
  width: 130px !important;
  height: 40px !important;
  color: #fff !important;
  border-radius: 5px !important;
  padding: 10px 25px !important;

  font-weight: 500 !important;
  background: transparent !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  position: relative !important;
  display: inline-block !important;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1) !important;
  outline: none !important;
}
/* 
.btn-8 {
  background-color: #f0ecfc !important;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%) !important;
  line-height: 42px !important;
  padding: 0 !important;
  border: none !important;
}
.btn-8 span {
  position: relative !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
.btn-8:before,
.btn-8:after {
  position: absolute !important;
  content: '' !important;
  right: 0 !important;
  bottom: 0 !important;
  background: #c797eb !important;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
/* transition: all 0.3s ease !important;
}
.btn-8:before {
  height: 0% !important;
  width: 2px !important;
}
.btn-8:after {
  width: 0% !important;
  height: 2px !important;
}
.btn-8:hover:before {
  height: 100% !important;
}
.btn-8:hover:after {
  width: 100% !important;
}
.btn-8:hover {
  background: transparent !important;
}
.btn-8 span:hover {
  color: #c797eb !important;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute !important;
  content: '' !important;
  left: 0 !important;
  top: 0 !important;
  background: #c797eb !important;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3) !important;
  transition: all 0.3s ease !important;
}
.btn-8 span:before {
  width: 2px !important;
  height: 0% !important;
}
.btn-8 span:after {
  height: 2px !important;
  width: 0% !important;
}
.btn-8 span:hover:before {
  height: 100% !important;
}
.btn-8 span:hover:after {
  width: 100% !important;
} */
.btn-3 {
  background: rgb(0, 172, 238) !important;
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  ) !important;
  width: 130px !important;
  height: 40px !important;
  line-height: 42px !important;
  padding: 0 !important;
  border: none !important;
}
.btn-3 span {
  position: relative !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
}
.btn-3:before,
.btn-3:after {
  position: absolute !important;
  content: '' !important;
  right: 0 !important;
  top: 0 !important;
  background: rgba(2, 126, 251, 1) !important;
  transition: all 0.3s ease !important;
}
.btn-3:before {
  height: 0% !important;
  width: 2px !important;
}
.btn-3:after {
  width: 0% !important;
  height: 2px !important;
}
.btn-3:hover {
  background: #ede9f4 !important;
  box-shadow: none !important;
}
.btn-3:hover:before {
  height: 100% !important;
}
.btn-3:hover:after {
  width: 100% !important;
}
.btn-3 span:hover {
  color: rgba(2, 126, 251, 1) !important;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute !important;
  content: '' !important;
  left: 0 !important;
  bottom: 0 !important;
  background: rgba(2, 126, 251, 1) !important;
  transition: all 0.3s ease !important;
}
.btn-3 span:before {
  width: 2px !important;
  height: 0% !important;
}
.btn-3 span:after {
  width: 0% !important;
  height: 2px !important;
}
.btn-3 span:hover:before {
  height: 100% !important;
}
.btn-3 span:hover:after {
  width: 100% !important;
}
