p {
  margin: 0;
}

.btn-close {
  margin-left: 1em !important;
}

.event-edit-icon {
  /* color: var(--background-green); */
  font-size: 1.1em;
  margin-left: auto;
  cursor: pointer;
}

.event-edit-icon:hover {
  opacity: 0.8;
}

.activity-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.activity-name {
  font-size: 1.1em;
}

.organisateur-block {
  padding: 1rem;
  background: #aa7bc3;
  display: flex;
  gap: 20px;
  align-items: center;
}
.modalpics {
  padding: 0px;
}

.organisateur-avatar {
  width: 10rem;
}

.organisateur-infos {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.organisateur-name {
  font-weight: bold;
  font-size: 1.2em;
}

.event-content {
  display: flex;
  justify-content: space-between;
}
/* .modal-body {
  padding: 0;
} */
.event-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: medium;
  font-weight: 600;
  background-image: url('/public/assets/image.jpg');

  color: white;
  padding: 0;
}

.event-where-when {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.event-participants {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.event-participants-max {
  font-size: 1.1em;
  align-self: flex-end;
}
.modal.body {
  padding: none !important;
}
.event-description {
  /* margin-top: 10px; */
  padding: 1rem;
  background: #aa7bc3;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer-participant {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 750px) {
  .modal-footer-participant {
    font-size: 1.4em;
  }
}

.modal-btn,
.modal-btn:active {
  font-size: 1.5em;
  background-color: #aa7bc3 !important;
  border: none;
}

.modal-btn:hover {
  background: #242269 !important;
}

.btn-participant,
.btn-participant:active {
  font-size: 0.9em;
}

.event-message {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-message-success {
  font-weight: bold;
  background-color: #89e294;
  border: none;
  margin-bottom: 0;
}

.blur {
  /* filter: blur(2px); */
  backdrop-filter: blur(10px);
}
