.navbar-login-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  display: none;
  z-index: 1002;
  background-color: #af88f4;
}

@media (min-width: 768px) {
  .navbar-login-in {
    display: none;
    background-color: #af88f4;
  }
}
