.navbar-main {
  padding: 0 !important;
  position: relative;
  display: flex;
  align-items: flex-end;
  align-items: center;
  top: 0px;
}

.nav-link-container {
  width: 100%;
  text-align: center;
  background: #af88f4;
}

.boxicon {
  width: 11%;
  font-size: 1.6em;
}

.iconNB:hover {
  color: rgb(76, 74, 74);
}

@media (min-width: 768px) {
  .navbar-main {
    justify-content: space-between;
    position: fixed;
    align-items: center;
  }
  .nav-link-container {
    width: 100%;
    text-align: center;
    background: #af88f4;
    display: flex;
    justify-content: flex-end;
  }
  .boxicon {
    padding: 0 30px;
    width: auto;
  }
  .logo {
    display: block;
    width: 10em;
  }
}
