.account-group {
  width: 100%;
}

.account-type {
  width: 35%;
  display: flex;
  align-items: center;
}

.account-value {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-password {
  display: flex;
  flex-direction: column;
  width: 100%;
}
