@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* padding-bottom: 80px; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  padding: 1rem;
  max-width: 720px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

:root {
  --background-primary: #242269;
  --background-green: #af88f4;
  --background-yellow: #fcd146;
}
