@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  padding: 1rem;
  max-width: 720px;
}

:root {
  --background-primary: rgb(255, 87, 87);
  --background-green: rgb(201, 226, 101);
  --background-yellow: #ffd966;
}
